[Desktop Entry]
Name=0xin Touch Test
Comment=Temporary standalone Fairphone 5 touch test
Exec=/home/sn3rt/proj/0xin/profiles/fp5/run-touch-test.sh
TryExec=/home/sn3rt/proj/0xin/profiles/fp5/run-touch-test.sh
Type=Application
DesktopNames=0xin;
